*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.ads-part{
    /* padding-left: 55px;
    padding-right: 40px; */
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
}
.heading{
    display: inline;
    font-size: 6vh;
    color: white;
    text-align: center;
} 

.bar-logo{
    display: flex;
    justify-content: flex-end;
    padding-right: 55px;
    font-size: 40px;
    gap: 10px;
}
#down{
    color: white;
}
.imp{
    padding-top: 13px;
}  
.title{
    text-align: center;
    font-size: 4vh;
    text-transform: uppercase;
}
.row1{
    padding-top: 750px;
}
div .box1{
    padding-left: 55px;
}
div .box4{
    padding-right: 50px;
}
.box{
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
}
.box img{
    height: 295px;
    transition: transform 0.3s ease;
}
.box img:hover {
    transform: scale(1.05);
}
.btn-view{
    font-size: 3vh;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 615px;
    background-color: white;
}
#pad-left{
    padding-left: 50px;
} 
.gallery-container {
    width: 100%;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    background-color: #fff;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.bottom-left {
    position: absolute;
    bottom: 20%;
    left: 14%;
    text-transform: uppercase;
    font-size: 7vh;
    color: white;
}
.bottom-more-left {
    position: absolute;
    bottom: 20%;
    left: 51%;
    text-transform: uppercase;
    font-size: 7vh;
    color: white;
}  
.bottom-more-ll {
    position: absolute;
    bottom: 20%;
    left: 95%;
    text-transform: uppercase;
    font-size: 7vh;
    color: white;
}  
.bottom-more-lll {
    position: absolute;
    bottom: 20%;
    left:  265vh;
    text-transform: uppercase;
    font-size: 7vh;
    color:white ;
    z-index: 1;
}
.bottom-last {
    position: absolute;
    bottom: 20%;
    left:  355vh;
    text-transform: uppercase;
    font-size: 7vh;
    color: white;
    z-index: 1;
}  
#pad-right{
    padding-right: 50px;
} 
  .gallery-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
  
.gallery {
    display: flex;
    gap: 30px;
}
  
.gallery img {
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.gallery img:hover {
    transform: scale(1.05);
}

.jod-jordan{
    position: relative;
}
#iframe{
    padding-left: 55px;
}
.shop-by-c{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.brand{
    overflow: hidden;
    background-color: white; 
    white-space: nowrap;
    position: relative;
}
.brand:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
 
    animation: 25s slide infinite linear;
}
.logos-slide img{
    height: 95px;
    margin: 0 10px;
}

.various-cat{
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: transform .1s;
}
#cat:hover{
    transform: scale(1.05);  
}
.footer{
    background-color: black;
    height: 300px;
    color: whitesmoke;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-right: 0%;
}
.links {
    list-style: none;
}
.legal{
    list-style: none;
}
.copy-right{
    display: flex;
    align-items: center;
}
#insta{
    padding-left: 10px;
}


body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Responsive */
/* @media (max-width: 600px){
    .ads-part{
        max-width: max-content;
        height: auto;
        z-index: -1;
    }
    #d{
        padding-left: 40px;
        z-index: 1;
    }
} */
@media only screen and (max-width:600px){
    .ads-part{
        width: 100%;
        height: auto;
    }
    .heading{
        font-size: 2vh;
        text-align: center;
    }
    .bar-logo{
        font-size: 20px;
        gap: 5px;
        padding-right: 30px;
    }
    .row1{
        padding-top: 230px;
    }
    .box img{
        height: 160px;
    }
    .box{
        font-size: 10px;
    }
    div .box1{
        padding-left: 35px;
        padding-bottom: 20px;
    }
    div .box2{
        padding-right: 30px;
    }
    div .box3{
        padding-left: 35px;
    }
    div .box4{
        padding-right: 30px;
    }
    .btn-view{
        font-size: 1vh;
        margin-left: 170px;
    }
    .gallery img{
        max-height: 490px;
        max-width: 400px;
    }
    .bottom-left{
        font-size: 30px;
        left: 170px;
    }
    .bottom-more-left{
        font-size: 30px;
        left: 560px;
    }
    .bottom-more-ll{
        font-size: 30px;
        left: 1040px;
    }
    .bottom-more-lll{
        z-index: 1;
        font-size: 30px;
        left: 1400px;
    }
    .bottom-last{
        z-index: 1;
        font-size: 30px;
        left: 1850px;
    }
    #iframe{
        padding-left: 30px;
    }
    .various-cat{
        gap: 0;
    }
    .footer{
        height: 600px;
        padding-top: 40px;
        font-size: 13px;
        width: 100%;        
        display: flex;
        justify-content: space-evenly;
    }
    .legal{
        padding-left: 10px;
    }
    .followus{
        padding-left: 10px;
    }
    #insta{
        padding-top: 20px;
    }
    .copy-right{
        font-size: 8px;
        color: white;
        padding-bottom: 300px;
    }
}
